[Desktop Entry]
Type=Application
Name=Open Ubuntu NVIDIA Container
Exec=/usr/bin/container-launch ubuntu-nvidia
Icon=applications-terminal
NoDisplay=true
X-KDE-Shortcuts=Ctrl+Alt+N
