[Unit]
Description=Preinstall OS-managed Homebrew packages
After=network-online.target
Wants=network-online.target
ConditionUser=!@system
ConditionPathExists=/var/home/linuxbrew/.linuxbrew/bin/brew
StartLimitIntervalSec=600

[Service]
Type=oneshot
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/brew bundle install --file=/usr/share/ublue-os/homebrew/preinstall.d/packages-edward.Brewfile
RemainAfterExit=true
Restart=on-failure
RestartSec=30
StartLimitBurst=3

[Install]
WantedBy=default.target
