[Unit]
Description=Install OS-managed Homebrew packages
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/brew-preinstall

[Install]
WantedBy=graphical-session.target
