[Unit]
Description=Ephemeral Ubuntu AI container
Documentation=man:podman-systemd.unit(5)

[Container]
Image=ghcr.io/huntedraven7/blueprint:ai
ContainerName=ai
Exec=/usr/bin/sleep infinity
HostName=ai
PodmanArgs=--memory=512m --cpus=0.5

[Service]
TimeoutStartSec=900
