[Unit]
Description=Add first user to docker group
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/share/ublue-os/setup-hooks.d/99-add-user-to-docker.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
