[Unit]
Description=Homepage Docker socket proxy (podman socket)
Documentation=https://github.com/Tecnativa/docker-socket-proxy

[Container]
Image=docker.io/tecnativa/docker-socket-proxy:0.3.0
ContainerName=homepage-docker-proxy
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
Environment=CONTAINERS=1
Environment=POST=1
Environment=INFO=1
Environment=IMAGES=0
Environment=VOLUMES=0
Environment=NETWORKS=0
Environment=EXEC=0
Environment=BUILD=0
Environment=COMMIT=0
Environment=CONFIGS=0
Environment=SECRETS=0
Environment=SERVICES=0
Environment=SWARM=0
Environment=NODES=0
Environment=PLUGINS=0
Environment=SYSTEM=0
Environment=AUTH=0
Environment=DISTRIBUTION=0
Environment=SESSION=0
Environment=TASKS=0

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
