[Unit]
Description=Install packages from Homebrew Brewfile
After=brew-setup.service
After=network-online.target
Wants=network-online.target
Requires=brew-setup.service
ConditionPathExists=/usr/share/ublue-os/homebrew/packages.Brewfile

[Service]
Type=oneshot
User=1000
Group=1000
Environment=PATH=/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/usr/local/bin:/usr/bin:/bin
Environment=HOMEBREW_CELLAR=/home/linuxbrew/.linuxbrew/Cellar
Environment=HOMEBREW_PREFIX=/home/linuxbrew/.linuxbrew
Environment=HOMEBREW_REPOSITORY=/home/linuxbrew/.linuxbrew/Homebrew
ExecStart=/usr/bin/bash -c "/home/linuxbrew/.linuxbrew/bin/brew bundle install --file=/usr/share/ublue-os/homebrew/packages.Brewfile"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
