[Unit]
Description=Install packages from Homebrew Brewfile
After=brew-setup.service
Requires=brew-setup.service
ConditionPathExists=/usr/share/ublue-os/homebrew/packages.Brewfile

[Service]
Type=oneshot
User=1000
Group=1000
Environment=HOME=/var/home/linuxbrew
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/brew bundle --file=/usr/share/ublue-os/homebrew/packages.Brewfile

[Install]
WantedBy=multi-user.target
