[Unit]
Description=Brew Preinstall
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/brew-preinstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
